header{
    width: 500px;
    height: 250px;
background-color: rgb(197, 124, 124); 
border-radius: 10px;
 
}
.butao{
    color: blueviolet;
    border-radius: 10px;
    width: 150px ;
    height: 25px ;
} 
body {
    font-family: Arial, sans-serif;
  }
  
  h1, h2 {
    text-align: center;
  }
  
  #itens-container, #venda-container {
    width: 50%;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  #total {
    text-align: right;
    font-weight: bold;
  }
  
  button {
    display: block;
    margin: 10px auto;
    padding: 8px 16px;
    font-size: 16px;
    color: white;
    border: none;
    cursor: pointer;
  }
  